
#imgcat{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#igmdiv{
   margin-right: 70px;
   margin-left: 70px;
}

#pa{
    font-weight: bold;
}
#imgcat:hover{
   background: aquamarine;
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(85, 80, 80); /* Initially transparent */
    opacity: 0; /* Initially invisible */
    transition: opacity 0.4s ease;
    border-radius: 200px; /* Smooth transition effect */
    transition: 0.4s;
  }
  
  .image-container:hover .overlay {
    background-color: rgba(32, 32, 32, 0.5); /* Dark transparent layer */
    opacity: 1;
    transition: 0.4s; /* Make the overlay visible on hover */
  }
  
  /* Additional styling for the image */
  .img-thumbnail {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* You can adjust the rest of the styling as needed */
  

@media (max-width: 1200px) {
    #imgcat{
        height: 230px;
       width: 230px;
       
    }
    #igmdiv{
        margin-right:0px;
        margin-left: 0px;
     }
  }
 